@import url('https://fonts.googleapis.com/css?family=Raleway:300, 700');

body {
	background: #f4f4f4;;
	padding-top: 3em;
	font-family: 'Raleway', 'Arial';
	color: #ffffff;
	margin: 0;
}

.container {
	margin: 0 3em;
}

ul {
	list-style-type: none;
	margin: 0 0 2em 0;
	padding: 0;
}

ul li {
	display: inline;
	margin-right: 30px;
}

ul li a {
	font-size: 1.5em;
}

a {
	color: #000000;
	text-decoration: none;
}