
<header id="header" class="alt">
	<div class="inner">
		<h1>Task list</h1>
		<p>Test task for «Devir‎» company</p>
	</div>
</header>

<div id="wrapper">

	<section id="intro" class="main">
		<span class="icon major"><img src="./assets/images/clipboards.png"></span>
		<h2>Todo list</h2>
		<ul class="task-list">
			<li *ngFor="let task of tasks">
				{{ task.text }}
			</li>
		</ul>
		<ul class="actions">
			<li><a href="#" class="button big" [routerLink]="['/task']">Learn More</a></li>
		</ul>
	</section>

	<footer id="footer">
		<ul class="icons">
			<li><a href="https://twitter.com/almabekgalym" class="icon"><img src="./assets/images/twitter.png" class="label"></a></li>
			<li><a href="https://www.facebook.com/galym.almabek" class="icon"><img src="./assets/images/facebook.png" class="label"></a></li>
			<li><a href="https://www.instagram.com/galymzhan1/" class="icon"><img src="./assets/images/instagram.png" class="label"></a></li>
			<li><a href="mailto:almabek.galym@gmail.com" class="icon"><img src="./assets/images/gmail.png" class="label"></a></li>
		</ul>
		<p class="copyright">&copy; GALYMZHAN ALMABEK</p>
	</footer>

</div>
